@import "../../assets/var";

.StartPage {
  margin-top: 3rem;
  text-align: center;

  &__title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__slogan {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
  }

  &__wrapper {
    margin: auto;
    text-align: left;
    max-width: 400px;
  }
}
