@import "var";

body,
html,
#root {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  color: $textMedium;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background: url("medias/header-300.jpg") no-repeat top center $background;
}

#root {
  &:before {
    content: "";
    height: 100px;
    width: 100%;
    top: 200px;
    left: 0;
    z-index: -1;
    position: absolute;
    background: linear-gradient(to bottom, transparent, $background);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

strong {
  font-weight: bold;
}
