// COLORS
$primary: #e67e22;
$primaryDark: darken($primary, 10%);

$background: #36393f;
$backgroundMedium: #2f3135;
$backgroundDark: #1f2124;

$textWhite: #fff;
$textLight: #eee;
$textMedium: #b9bbbe;
$textDark: #72767d;
